// 主题色 —— 蓝色
$topic-color: #409eff;
$topic-pure-color: #409eff;

//  正确
$correct-color: #67C23A;  
// 错误
$error-color: #F56C6C;

// 另一蓝色
// $topic-pure-color: #007aff;

$topic-pure-color-opacity: rgba(64, 158, 255, .1);